{% extends 'base.html.twig' %}

{% block title %}Hello MusicController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/gpuppy_vinyl/src/Controller/MusicController.php'|file_link(0) }}">src/Controller/MusicController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/gpuppy_vinyl/templates/music/index.html.twig'|file_link(0) }}">templates/music/index.html.twig</a></code></li>
    </ul>
     <button id=" play ">Play</button>

    <script>
    let play = document.getElementById("play");
          function playMusic(){
        let audio = new Audio("Death Grips - Guillotine.mp3"); /*death Grips - Get Got.mp3*/
        audio.play()
        }
        play.addEventListener("click", playMusic);
    </scipt>


    /*let play = document.getElementById('play');
    <button id=" play ">Play</button><br>
    <scipt>
        let play = document.getElementById('play');
        funtion playMusic(){
        let audio = new Audio('audio.mp3');
        audio.play()
        }
        play.addEvenListener('click', playMusic);
    </scipt>
    let play = document.getElementById('play');
    <button id=" play ">Play</button><br>
    <scipt>
        let play = document.getElementById('play');
        funtion playMusic(){
        let audio = new Audio('audio.mp3');
        audio.play()
        }
        play.addEvenListener('click', playMusic);
    </scipt>
    let play = document.getElementById('play');
    <button id=" play ">Play</button><br>
    <scipt>
        let play = document.getElementById('play');
        funtion playMusic(){
        let audio = new Audio('audio.mp3');
        audio.play()
        }
        play.addEvenListener('click', playMusic);
    </scipt>
    let play = document.getElementById('play');
    <button id=" play ">Play</button><br>
    <scipt>
        let play = document.getElementById('play');
        funtion playMusic(){
        let audio = new Audio('audio.mp3');
        audio.play()
        }
        play.addEvenListener('click', playMusic);
    </scipt>
    let play = document.getElementById('play');
    <button id=" play ">Play</button><br>
    <scipt>
        let play = document.getElementById('play');
        funtion playMusic(){
        let audio = new Audio('audio.mp3');
        audio.play()
        }
        play.addEvenListener('click', playMusic);
    </scipt>
    let play = document.getElementById('play');
    <button id=" play ">Play</button><br>
    <scipt>
        let play = document.getElementById('play');
        funtion playMusic(){
        let audio = new Audio('audio.mp3');
        audio.play()
        }
        play.addEvenListener('click', playMusic);
    </scipt>
    let play = document.getElementById('play');
    <button id=" play ">Play</button><br>
    <scipt>
        let play = document.getElementById('play');
        funtion playMusic(){
        let audio = new Audio('audio.mp3');
        audio.play()
        }
        play.addEvenListener('click', playMusic);
    </scipt--->

</div>
*/
    {% endblock %}